<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Job</title>
    <link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row py-5">
            <nav class="navbar navbar-expand navbar-primary fixed-top bg-primary">
                <h3 class="navbar-brand text-light">Hello {{user_firstname}}! Make a Wish!</h3>
                <a class="navbar-brand text-light" href="/logout">Log Out</a>
            </nav>
        </div>
        <div class="row">
            <div class="col mt-5">
                <form action="/wishes/create" method="POST"> {% csrf_token %}
                    <h5>I wish for: <input type="text" name="wish_thing" id="wish_thing"></h5>
                    <h5>Description: <input type="text" name="wish_description" id="wish_description"></h5>
                    <button class="text-center btn btn-light" type="cancel" name="Cancel">Cancel</button> <button class="text-center btn btn-primary" type="submit" name="Submit">Submit</button>
                </form><br><br>
                {% if messages %}
                {% for message in messages %}
                <span style="color: red">{{message}}</span>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>